<!doctype html>
<html lang="en">
    <head>
        <title>Pokédex with Api</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <!-- Optional JavaScript -->
        <script src="https://kit.fontawesome.com/9e8da0c3f0.js" crossorigin="anonymous"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="../scripts/single-pokemon.js"></script> 

        <div class="container-fluid page-content">
            <div class="row d-flex align-items-center Header">
                <div class="col-6 d-flex mr-auto Previous" id="txtPrev" onClick=getPreviousPokemon()>
                    
                </div>
                <div class="col-6 d-flex justify-content-end ml-auto Next" id="txtNext" onClick=getNextPokemon()>

                </div>
                <div class="d-flex justify-content-center align-self-end" id="PKMN_Naam">
                    <!-- Pokemon naam komt hier in -->
                </div>
            </div>
            <div class="row d-flex justify-content-center rowInformation">
                <div class="col-md-7 text-center px-0 py-2 justify-content-center" id="PKMN_Random">
                    <button class="btn randomize" onClick="getPokemon()">
                        Find random pokémon
                    </button>
                </div>
            </div>
            <div class="row d-flex justify-content-center rowInformation">
                <div class="col-md-3 Pokedex pl-4 pr-2 pt-2">
                    <div id="PKMN_IMG">
                        <!-- Hier komt de afbeelding in te staan -->
                    </div>
                </div>
                <div class="col-md-4 Pokedex pr-2 pl-0 pt-2 w-100">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="information p-2 text-center align-middle" id="PKMN_Classification">
                                    <span>Classification: </span><br/>
                                    <!-- Classification by javascript -->
                                </td>
                                <td class="back text-center align-middle p-0" onClick="getBack()">
                                        Go back
                                </td>
                            </tr>
                            <tr>
                                <td class="information p-2 text-center align-middle" id="PKMN_Height">
                                    <span>Height: </span><br/>
                                    <!-- Height by javascript -->
                                </td>
                                <td class="information p-2 text-center align-middle" id="PKMN_BaseEXP">
                                    <span>Base Exp: </span><br/>
                                    <!-- Base Experience by javascript -->
                                </td>
                            </tr>
                            <tr>
                                <td class="information p-2 text-center align-middle" id="PKMN_Weight">
                                    <span>Weight: </span><br/>
                                    <!-- Weight by javascript -->
                                </td>
                                <td class="information p-2 text-center align-middle" id="PKMN_BaseHappiness">
                                    <span>Base Happiness: </span><br/>
                                    <!-- Base Happiness by javascript -->
                                </td>
                            </tr>
                            <tr>
                                <td class="information p-2 text-center align-middle" id="PKMN_Seen">
                                    <span>Seen: </span><br/>
                                    <!-- Seen by javascript -->
                                </td>
                                <td class="information p-2 text-center align-middle" id="PKMN_Caught">
                                    <span>Caught: </span><br/>
                                    <!-- Caught by javascript -->
                                </td>
                            </tr>
                            <tr id="PKMN_Info5">
                                <td class="information p-2 text-center align-middle" id="PKMN_CaptureRate">
                                    <span>Capture Rate: </span><br/>
                                    <!-- Capture Rate by javascript -->
                                </td>
                                <td class="information p-2 text-center align-middle" id="PKMN_Abilities">
                                    <span>Abilities: </span><br/>
                                    <!-- Abilities by javascript -->
                                </td>
                            </tr>
                            <tr id="PKMN_Types">
                                <!-- Type 1 and Type 2 by javascript -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- STATS VANUIT JAVASCRIPT TONEN ==> {abilities: Array(2), base_experience: 306, forms: Array(1), game_indices: Array(9), height: 54, …} -->

            <div class="row d-flex justify-content-center rowInformation">
                <div class="col-md-7 d-flex justify-content-center text-center evolutionsHeader Pokedex">
                   <h3>EVOLUTIONS</h3> 
                </div>
            
                <div class="col-md-7 d-flex justify-content-center evolutions Pokedex" >
                    <div class="image list text-center" id="PKMN_FirstEvolve">

                    </div>
                </div>
                <div class="col-md-7 d-flex justify-content-center evolutions Pokedex">
                    <div class="image list text-center" id="PKMN_SecondEvolves">

                    </div>
                </div>
                <div class="col-md-7 d-flex justify-content-center evolutions Pokedex">
                    <div class="image list text-center" id="PKMN_LastEvolves">

                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center rowMoves">
                <div class="col-md-7 text-center evolutionsHeader Pokedex">
                    <h3>MOVES</h3> 
                </div>
                <div class="col-md-7 d-flex justify-content-center moves Pokedex" >
                    <div class="text-center" id="PKMN_Moves">

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>